@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* @media html */

li, a, button{
    font-family: "Montserrat"    , sans-serif;
    font-weight: 450;
    font-size: 2rem;
    text-decoration: none;
}

.logo{
    height: 5%;
    width: 5%;
    cursor: pointer;
}
.nav_links{
    list-style:none;
}
.nav_links li{
    display: inline-block;
    padding: 0 1.5rem;
}
header{
    width: 95%;
    margin: 20px auto;
    margin-top : 0;
    background-color: bisque;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}