@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    font-size: 1rem;
    color: rgb(194, 226, 226);
    text-decoration: none;
}
header{
    /* border-bottom-left-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
    margin: 0;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    /* type 2 of this nav bar */
    /* justify-content: flex-end; */
    align-items: center;
    padding: 0 4rem;
    background-color: rgb(59, 59, 61);
}
.logo{
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    /* Type 2 of this nav bar */
    /* margin-right: auto; */
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: rgb(229, 33, 33);
    font-weight: 600;
    font-size: 1.3rem;
}
button{
    width: 10rem;
    padding: 5px 2px;
    background-color: rgb(229, 33, 33);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0.3s;
}
button:hover{
    scale: 1.05;
}