*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0;
}
/* This one flashes the images  */
.slider{
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    background-image: url('AllimagesinHere/sliderimages/Bike-Trip-to-Leh-Ladakh.jpg');
    background-size: 100% 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    animation: changeImage 30s ease forwards infinite;
}
@keyframes changeImage {

    0%{
        background-image: url('AllimagesinHere/sliderimages/Bike-Trip-to-Leh-Ladakh.jpg');
    }
    25%{
        background-image: url('AllimagesinHere/sliderimages/cover-1052.jpg');
    }
    50%{
        background-image: url('AllimagesinHere/sliderimages/Ladakh-2021-1536x1027.jpg');
    }
    75%{
        background-image: url('AllimagesinHere/sliderimages/Leh-Ladakh-Bike-Trip.jpeg');
    }
    100%{
        background-image: url('AllimagesinHere/sliderimages/82508wd3qbahj3514xfnbfx7ogzr_1576928476_biking_in_spiti.jpg');
    }
    
}

.slider div{
    position: relative;
    width: 80rem;
    margin: auto;
    
    /* background-color: aqua; */
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}
.slider div h2{
    text-align: center;
}
.slider div p{
    color: aliceblue;
    text-align:center;
    font-size: 2.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* The intro boxes */
.MainIntroBox{
    width: 90%;
    height: 30rem;
    margin: 10px auto;
    padding: 1rem 8rem;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.MainIntroBox .infor{
    margin: auto;
    padding: 4rem;
    border: 2px solid rgb(35, 34, 34);
    border-radius: 10px;
    width: 70%;
    height: fit-content;
    min-height: 75%;
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.MainIntroBox img{
    border: 2px solid rgb(35, 34, 34);
    border-radius: 10px;
    height: fit-content;
    height: 18rem;
}

footer{
    padding: 2rem 7rem;
    height: 19rem;
    width: 100%;
    background-color: rgba(44, 44, 44, 0.859);
}